{
    "printWidth": 100,
    "tabWidth": 4,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "arrowParens": "avoid",
    "endOfLine": "crlf",
    "overrides": [
        {
            "files": ["*.json"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
